# Ignore user secrets
appsettings.json
appsettings.Development.json
*.pfx

# Build results
*/bin/
*/obj/

# User-specific files
*.user
*.suo

# VS Code
.vscode/
.vs/

# Dotnet environment files
*.pfx
*.key
*.cer

# OS files
*/.DS_Store
*/Thumbs.db

local/
